.color_view {
  width: 120px;
  height: 33px;
  border-radius: 30px;
}

.column2-style {
  top: 191px;
  left: 1113px;
  width: 807px;
  height: 598px;
  background: transparent url("../img/Mask_Group_42.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  vertical-align: middle;
}
